body {
    font-family: 'Archivo Narrow', sans-serif;
    background-position: center top;
}

header {
    text-align: center;
    background-color: rgba(255, 0, 0, .5);
    padding-top: 100px;
    padding-bottom: 150px;
    height: 240px;
    background-image: url(https://images.alphacoders.com/288/288213.jpg);
    background-position: center 30%;
    background-size: cover;
}

header h2 {
    margin-top: -50px;
    font-size: 30px;
}

.column-container {
    width: 960px;
    margin: auto;
}

.first {
    background-color: rgb(90, 80, 3);
    color: blanchedalmond;
    height: 733px;
    background-size: cover;
    overflow-x: hidden;
}

.first img {
    float: right;
    border: 3px solid olive;
    margin-left: 25px;
    margin-bottom: 25px;
}

.first p {
    font-size: 18px;
}

.second {
    color: saddlebrown;
    background-color: navajowhite;
    background-size: cover;
    overflow-x: hidden;
    padding-bottom: 40px;
}

.second img {
    float: left;
    /* margin-right: 30px; */
    padding-right: 15px;
    padding-top: 20px;
    margin: 0;
}

.second ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0%;
    padding: 0;
}

.second li {
    display: list-item;
    width: 45%;
    padding-bottom: 0px;
    /* padding-left: 10%; */
}

.photoInfo {
    padding-right: 20px;
    padding-top: 20px;
}

.second h4 {
    margin: 0%;
    font-size: 20px;
    font-weight: 800;
}

.third {
    background-color: olivedrab;
    text-align: center;
}

.third p {
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0;
    font-size: 28px;
}

h1 {
    display: block;
    font-size: 80px;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 40px;
}

h4 {
    font-size: 40px;
    margin-bottom: -10px;
}

section {
    padding-top: 2px;
}

p {
    display: block;
}

footer {
    padding-top: 0px;
    margin-top: 0;
    height: 100px;
    font-weight: 700;
    color: goldenrod;
    background-color: white;
}

div {
    display: block;
}

.foot {
    text-align: left;
    padding-left: -25px;
    margin-top: -6px;
    font-weight: bold;
    font-size: 17.5px;
    display: block;
}